<!DOCTYPE html>
<html>
<head>
  <title><%=comic.title%></title>
</head>
<body>
<div>
  <p><img height = "450px", width = "275px" src="<%=comic.imgUrl%>"></p>
  <p><strong>Title: </strong><%=comic.title%></p>
  <p><strong>Issue Number: </strong><%=comic.issueNumber%></p>
  <p><strong>Author: </strong><%=comic.author%></p>
  <p><strong>Artist: </strong><%=comic.artist%></p>
</div>
</body>
</html>

